<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfectrip</title>
</head>

<body>
    <div style="text-align: center">
        <form action="">
            <input type="text" placeholder="출발지" name="start"><br>
            <input type="text" placeholder="경유지" name="middle"><br>
            <input type="text" placeholder="도착지" name="end"><br>
            <label for="pet">애완견 여부</label>
            <select id="pet" name="애완견 여부">
                <option value="yes">있음</option>
                <option value="no">없음</option>
            </select><br>

            <label for="travel">여행 종류</label>
            <select id="travel" name="여행 종류">
                <option value="alone">혼자여행</option>
                <option value="family">가족여행</option>
                <option value="friend">우정여행</option>
                <option value="couple">커플여행</option>
                <option value="group">단체여행</option>
            </select><br>

            <input type="submit" value="제출">
        </form>
    </div>
</body>

</html>